#set($menuUrl=$link.setRelative('./AdminAction/getViewTablesByAdmin.json'))
#set($changePasswordVM=$link.setRelative('/content/user/changePassword.vm'))
<style type="text/css">
    html, html body
    {
        padding:0;border:0;margin:0;
        width:100%;height:100%;overflow:hidden;
        font-family:Verdana;
        font-size:12px;
        line-height:22px;
    }
    .header
    {
    }
    body .header .topNav
    {
        position:absolute;right:8px;top:10px;
        font-size:12px;
        line-height:25px;
    }
    .header .topNav a
    {
        text-decoration:none;
        color:#222;
        font-weight:normal;
        font-size:12px;
        line-height:25px;
        margin-left:3px;
        margin-right:3px;
    }
    .header .topNav a:hover
    {
        text-decoration:underline;
        color:Blue;
    }
    </style>
<!--<div id="layout1" class="mini-layout" style="width:100%;height:100%;"> </div> -->
    <div class="header"  height="30" showSplit="false" showHeader="false">
        <h1 style="margin:0;padding:0px;cursor:default;font-family:'Trebuchet MS',Arial,sans-serif;">江南铝型材管理软件</h1>
        <div class="topNav">
            <a href="./index.vm">首页</a> |
            <a href="../AdminAction/loginOut.do">重新登录</a> |
            <a href="javascript:void(0)" onclick="changePassword()">修改密码</a> |
            <a href="../chrome_installer.exe">下载chrome</a>
        </div>
    </div>
        <ul id="menu1" class="mini-menubar" style="width:100%;"
            url="$menuUrl" onitemclick="onItemClick"
            textField="text" idField="id" parentField="parentid" resultAsTree="false"
                >
        </ul>
        <div class="mini-fit" style="padding-top:5px;">
            <!--Tabs-->
            <div id="mainTabs" class="mini-tabs" activeIndex="0" style="width:100%;height:97%;padding:0;margin:0;border:0;">
                <div title="首页" url="" >
                </div>
            </div>
        </div>
<script type="text/javascript">
    mini.parse();
    var tree = mini.get("tree1");

    function showTab(node) {
        var tabs = mini.get("mainTabs");

        var id = "tab$" + node.id;
        var tab = tabs.getTab(id);
        if (!tab) {
            tab = {};
            tab.name = id;
            tab.title = node.text;
            tab.showCloseButton = true;
            //这里拼接了url，实际项目，应该从后台直接获得完整的url地址
            tab.url =  "$link.setRelative('/content/')"+node.content ;
            tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }

    function onNodeSelect(e) {

        var node = e.node;
        var isLeaf = e.isLeaf;

        if (isLeaf) {
            showTab(node);
        }
    }

    function onItemClick(e) {
        var item = e.item;
        var isLeaf = e.isLeaf;

        if (isLeaf) {
            showTab(item);
        }
    }

    function changePassword(){
            mini.open({
                url: "$changePasswordVM",
                title: "修改密码",
                width: 300,
                height: 200,
                onload: function () {
                    var iframe = this.getIFrameEl();
                },
                ondestroy: function (action) {
                }
            });
    }
</script>
