<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- spring-mvc配置 -->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.zb.jnlxc.aop.LoginInterceptor</filter-class>
    </filter>

	<servlet>
		<servlet-name>annomvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		 <init-param>
       		 <param-name>contextConfigLocation</param-name>
        	 <param-value>classpath:spring/mvc-servlet.xml</param-value>
    	</init-param>
   		 <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>annomvc</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>annomvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>*.vm</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>velocity</servlet-name>
        <servlet-class>org.apache.velocity.tools.view.servlet.VelocityLayoutServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/toolbox.xml</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>velocity</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
	<!-- 基本配置-->
	<session-config>     
    <session-timeout>7200</session-timeout>       
	</session-config> 
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
