#set($getFlowStateImageByExcutionIdUrl=$link.setRelative('/FlowAction/getFlowStateImageByExcutionId.json'))
#set($baseUrl=$link.setRelative('/'))
<style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        width: 100%;
        overflow:hidden;
    }
</style>
<body >

<img id="flowImg" style="position:absolute;" src="" />
</body>
<script type="text/javascript">
    mini.parse();
    function setData(excutionId) {
        $.ajax({
            url: "$getFlowStateImageByExcutionIdUrl",
            data:{excutionId:excutionId},
            cache: false,
            success: function (flowStateImage) {
                $("#flowImg").attr("src",$baseUrl+flowStateImage.url);
                for(var a=0;a<flowStateImage.imageLocates.length;a++){
                    var imageLocate =  flowStateImage.imageLocates[a];
                    var top = imageLocate.y;
                    var left = imageLocate.x;
                    var width = imageLocate.width;
                    var height = imageLocate.height;
                    $("body").append("<div style=\"position:absolute ; top:"+top+"px; left:"+left+"px;width: "+width+"px;height: "+height+"px;border: #ff0000 solid 2px;\" />");
                }
            }
        });
    }
</script>
