#set($doTaskUrl=$link.setRelative('MouldAction/fxtmccqr.do'))

<body>
    #parse("content/flow/mould/mouldInfo.vm")
<fieldset id="fd1">
    <legend><span> 试模信息</span></legend>
    <div class="fieldset-body">
        <form id="taskform" method="post">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width:90px;">机台：</td>
                    <td style="width:150px;">
                        <input name="productTeam.dbId" property="editor" required="true" class="mini-combobox"   url="$findTeamUrl"
                               textField="name" valueField="dbId" />
                    </td>
                    <td >用棒数量：</td>
                    <td >
                        <input name="useStickNum" id="code" class="mini-textbox" required="true"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes("确定")" style="width:60px;margin-right:20px;">确定</a>
    <a class="mini-button" onclick="doTaskYes("退模")" style="width:60px;margin-right:20px;">退模</a>
    <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;
    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(600);
        openWindow.setHeight(600);
        taskId = mini.clone(taskIdParm);
        initMouldInfo(taskId);
    }

    function doTaskYes() {
        var remarks=mini.get("mould_mcomment").getValue();

        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        $.ajax({
            url: "$doTaskUrl",
            data: {taskId: taskId,
                remarks:remarks,
                mouldTestRecordData:mini.encode(taskform.getData())},
            cache: false,
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }

    function onCancel(e) {
        CloseWindow("cancel");
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow)
            return window.CloseOwnerWindow(action);
        else window.close();
    }
</script>
</body>