#set($getMouldInfoUrl=$link.setRelative('/MouldAction/getMouldInfo.json'))
#set($getBmpUrl=$link.setRelative('/SchemeAction/downImg.do'))
#set($findAssociationUrl=$link.setRelative('/CommonAction/findAllAssociation.json'))
#set($jyxhUrl=$link.setRelative('/DataDictAction/findDictList.json?code=jyxh'))
#set($mjxzUrl=$link.setRelative('/DataDictAction/findDictList.json?code=mjxz'))
#set($getMouldFlowInfoURL=$link.setRelative('MouldAction/getMouldFlowInfo.do'))

<form id="form1" method="post">
    <div class="mini-tabs" style="width:100%;height:250px" activeIndex="0">
        <div title="模具信息">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width:100px;">模具编码：</td>
                    <td style="width:150px;">
                        <input name="code" id="code" class="mini-textbox" required="true" readonly="true"  />
                    </td>
                    <td style="width:100px;">模具规格：</td>
                    <td style="width:150px;">
                        <input id="mouldsizeSelector" name="mouldSize.dbId" required="true" class="mini-buttonedit" onbuttonclick="onMouldSizeSlecte"  textName="mouldSize.size"/>
                    </td>
                </tr>
                <tr>
                    <td>模具类型</td>
                    <td>
                        <input id="mouldType" name="mouldSize.mouldType.name" readonly="true"  class="mini-textbox" />
                    </td>

                    <td class="form-label">下单日期：</td>
                    <td>
                        <input id="manuDate" name="manuDate" format="yyyy-MM-dd" readonly="true" class="mini-datepicker"  />
                    </td>
                </tr>
                <tr>
                    <td style="width:90px;">包产吨位(公斤)：</td>
                    <td style="width:150px;">
                        <input name="mouldSize.bcdw" id="bcdw" readonly="true"  class="mini-textbox" />
                    </td>
                    <td style="width:90px;">交货日期:</td>
                    <td style="width:150px;">
                        <input id="deadline" name="deadline" format="yyyy-MM-dd" required="true" class="mini-datepicker" ondrawdate="onDrawDate"  />
                    </td>
                </tr>
                <tr>
                    <td style="width:90px;">交样选项：</td>
                    <td style="width:150px;">
                        <input name="jyhx.name" id="jyhx" readonly="true"  class="mini-textbox"  />
                    </td>
                    <td style="width:90px;">开模性质:</td>
                    <td style="width:150px;">
                        <input  name="kmxz.name" id="kmxz"  required="true" class="mini-textbox"  />
                    </td>
                </tr>

                <tr>
                    <td>外协公司：</td>
                    <td>
                        <input name="manufacture.name" required="true" property="editor"  class="mini-textbox"  />
                    </td>
                    <td >
                       缩略图:
                    </td>
                    <td rowspan="4">
                        <img id="bmp" height="100%" />
                    </td>
                </tr>
                <tr>
                    <td>图纸:</td>
                    <td>
                        <input id="schemeSelector" required="true" class="mini-buttonedit" onbuttonclick="onSchemeSlecte" name="scheme.dbId" textName="scheme.name"/>
                    </td>
                </tr>
                <tr>
                    <td>外协负责人：</td>
                    <td >
                        <input name="manufacture.agent.name" id="agentName" readonly="true"  class="mini-textbox" />
                    </td>
                </tr>
                <tr>
                    <td class="form-label">模具状态：</td>
                    <td >
                    ##0:定制1.试模 2.返修,3.可配半键报废,4判定 5,彻底报废6,氮化,7,待产,8生产
                        <input name="status" class="mini-combobox" value="0" readonly="true"
                               data="[{id:0,text:'定制'}, {id:1, text: '试模'}, {id:2, text: '返修'},
                               {id:3, text: '可配半键报废'}, {id:4, text: '判定'}, {id:5, text: '彻底报废'}
                               , {id:6, text: '氮化'}, {id:7, text: '待产'}, {id:8, text: '生产'}]"/>
                    </td>
                </tr>
            </table>
        </div>
        <div title="备注">
            <input id="mould_mcomment" style="width: 100%;height: 100%" emptyText="备注信息" name="mcomment" class="mini-textarea" />
        </div>
    </div>
</form>


<script type="text/javascript">
    //标准方法接口定义
    function initMouldInfo(taskIdParm) {
        var form = new mini.Form("form1");
        taskId = mini.clone(taskIdParm);
        //跨页面传递的数据对象，克隆后才可以安全使用
        $.ajax({
            url: "${getMouldInfoUrl}",
            data: {taskId: taskId},
            type: 'post',
            cache: false,
            success: function (mould) {
                form.setData(mould);
                form.setChanged(false);
                $("#bmp").attr("src", "${getBmpUrl}?schemeId=" + mould.scheme.dbId);
                var fields = form.getFields();
                for (var i = 0, l = fields.length; i < l; i++) {
                    var c = fields[i];
                    if (c.setReadOnly) c.setReadOnly(true);     //只读
                    if (c.setIsValid) c.setIsValid(true);      //去除错误提示
//                    if (c.addCls) c.addCls("asLabel");          //增加asLabel外观
                }
                form.getField("mcomment").setReadOnly(false);
            }
        });
    }
</script>