scmjhk
#set($doTaskUrl=$link.setRelative('MouldAction/rczrrfp.do'))
#set($getMouldFlowInfoURL=$link.setRelative('MouldAction/getMouldFlowInfo.do'))

<body>
    #parse("content/flow/mould/mouldInfo.vm")
<fieldset id="fd1">
    <legend><span>任务内容</span></legend>
    <div class="fieldset-body">
        <form id="taskform" method="post">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width:100px;">指定修模工：</td>
                    <td style="width:150px;">
                        <input name="zdxmg" id="zdxmg" class="mini-textbox" required="true" " />
                    </td>
                    <td tyle="width:100px;">试模机型：</td>
                    <td style="width:150px;">
                        <input name="smjx" id="smjx" class="mini-textbox" required="true"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes('确定')" style="width:80px;margin-right:20px;">确定</a>
    <a class="mini-button" onclick="onCancel" style="width:80px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;

    function initExtMouldInfo(taskIdParm) {
        var taskform = new mini.Form("taskform");
        //跨页面传递的数据对象，克隆后才可以安全使用
        $.ajax({
            url: "${getMouldFlowInfoURL}",
            data: {taskId: taskId},
            cache: false,
            type: 'post',
            success: function (extMould) {
                taskform.setData(extMould);
                taskform.setChanged(false);
            }
        });
    }

    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(600);
        openWindow.setHeight(400);
        windowMiddle(openWindow);
        taskId = mini.clone(taskIdParm);
        initMouldInfo(taskId);
        initExtMouldInfo(taskId);
    }

    function doTaskYes(nextStep) {
        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        $.ajax({
            url: "$doTaskUrl",
            data: {taskId: taskId,
                nextStep:  nextStep,
                formData:mini.encode(taskform.getData())},
            cache: false,
            type:'post',
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }
</script>
</body>