#set($doTaskUrl=$link.setRelative('BussinessAction/agentAudit.do'))
#parse("content/flow/order/orderInfo.vm")
<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes(true)" style="width:60px;margin-right:20px;"> 通过</a>
    <a class="mini-button" onclick="doTaskYes(false)" style="width:60px;margin-right:20px;">不通过</a>
    <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;
    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(550);
        openWindow.setHeight(540);
        taskId = mini.clone(taskIdParm);
        initOrderInfo(taskId);
    }

    function doTaskYes(val){
        var remarks = mini.get("mcomment").getValue();
        $.ajax({
            url: "$doTaskUrl",
            data:{taskId:taskId,success:val,remarks:remarks},
            cache: false,
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });
    }

    function onCancel(e) {
        CloseWindow("cancel");
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow)
            return window.CloseOwnerWindow(action);
        else window.close();
    }
</script>