<?xml version="1.0" encoding="UTF-8"?>   
<jbpm-configuration>   
    <process-engine-context>   
        <string name="spring.cfg" value="spring-jbpm4.xml" />   
    </process-engine-context>   
    <import resource="jbpm.default.cfg.xml" />   
    <import resource="jbpm.tx.spring.cfg.xml" />   
    <import resource="jbpm.jpdl.cfg.xml" />   
    <import resource="jbpm.bpmn.cfg.xml" />   
    <import resource="jbpm.businesscalendar.cfg.xml" />   
    <import resource="jbpm.console.cfg.xml" />  
    <!-- <import resource="jbpm.identity.cfg.xml" />    
     使用自定义的权限--> 
    <transaction-context>
       <object class="com.zb.jnlxc.JBPM.JNLXCIdentitySessionImpl" />
     </transaction-context>
    <!--     
    <import resource="jbpm.jobexecutor.cfg.xml" />   
    -->   
</jbpm-configuration>  

