#set($getAllProductRecordDetailURL=$link.setRelative('/SchemeAction/getAllProductRecordDetail.json'))
#set($addDeliveryURL=$link.setRelative('/DeliveryAction/addDelivery.json'))
#set($deliveryPanelURL=$link.setRelative('/content/delivery/deliveryPanel.vm'))
<body>
    <div class="mini-toolbar" style="border-bottom:0;padding:0px;width: 100%;height: 100%">
        <table style="width:100%;">
            <tr>
                <td style="width:100%;">
                    <a class="mini-button" iconCls="icon-add" onclick="add">添加发货记录</a>
                    <a class="mini-button" iconCls="icon-search" onclick="viewDelivery">查看发货记录</a>
                </td>
            </tr>
        </table>
    </div>
<div id="devdatagrid" class="mini-datagrid" style="width:100%;height:500px;" onload="onGirdLoad"
     url="$getAllProductRecordDetailURL"  idField="setSize"
        >
    <div property="columns">
        <div field="setSize" width="120" headerAlign="center" >尺寸
        </div>
        <div field="compQuantity" width="120" headerAlign="center" >存货数量
        </div>
        <div field="compWeight" width="120" headerAlign="center" >存货重量
        </div>
    </div>
</div>

<div id="editWindow" class="mini-window" title="发货信息"
     showModal="true" allowResize="true" allowDrag="true"
        >
    <div id="editform" class="form" >
        <input class="mini-hidden" name="id"/>
        <table style="width:100%;">
            <tr>
                <td style="width:80px;">尺寸：</td>
                <td style="width:150px;">
                    <input id="setSize" name="setSize" required="true" class="mini-combobox" valueField="setSize" textField="setSize"  />
                </td>
            </tr>
            <tr>
                <td style="width:80px;">数量：</td>
                <td style="width:150px;"><input name="deliveryQuantity" class="mini-textbox" /></td>
            </tr>
            <tr>
                <td style="width:80px;">重量：</td>
                <td style="width:150px;"><input name="deliveryWeight" class="mini-textbox" /></td>
            </tr>
            <tr>
                <td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="6">
                    <a class="Update_Button" href="javascript:updateRow()">确认发货</a>
                    <a class="Cancel_Button" href="javascript:cancelRow()">取消</a>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    mini.parse();
    var devdatagrid = mini.get("devdatagrid");
    var originalscheme;
    var editWindow = mini.get("editWindow");
    function add() {
        editWindow.show();
    }

    function viewDelivery(){
        mini.open({
            url: "$deliveryPanelURL",
            title: "发货记录", width: 800, height: 600,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(originalscheme);
            }
        });

    }

    function updateRow() {
        var form = new mini.Form("#editform");
        form.validate();
        if (form.isValid() == false) return;
        var o = form.getData();
        var parm = $.extend({schemeId:originalscheme.dbId},o)
        devdatagrid.loading("更新中......");
        $.ajax({
            url: "$addDeliveryURL",
            data: parm,
            success: function (text) {
                devdatagrid.load({schemeId:originalscheme.dbId});
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });

        editWindow.hide();
    }

    function onGirdLoad(p1){
        mini.get("setSize").setData(p1.data);
    }

    function cancelRow() {
        editWindow.hide();
    }

    ////////////////////
    //标准方法接口定义
    function setData(scheme) {
        originalscheme = mini.clone(scheme);
        var devdatagrid = mini.get("devdatagrid");
        devdatagrid.load({schemeId:scheme.dbId});
    }

</script>