#set($doTaskUrl=$link.setRelative('MouldAction/dhclqr.do'))
#set($getMouldFlowInfoURL=$link.setRelative('MouldAction/getMouldFlowInfo.do'))
#set($adminsUrl=$link.setRelative('/AdminAction/findAll.json'))
#set($maintenancersUrl=$link.setRelative('/AdminAction/getPowerAdminsByName.do?powerName=新模技术检修处理'))
#set($user=$session.getAttribute("user"))


<body>
    #parse("content/flow/mould/mouldInfo.vm")
<fieldset id="fd1">
    <legend><span>任务内容</span></legend>
    <div class="fieldset-body">
        <form id="taskform" method="post">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width:100px;">试模次数：</td>
                    <td style="width:150px;">
                        <input name="smcs" id="dhxc" class="mini-textbox" readonly />
                    </td>
                    <td tyle="width:100px;">修模人：</td>
                    <td style="width:150px;">
                        <input name="maintenancer"  class="mini-combobox"  url="$maintenancersUrl" textField="name" valueField="account" readonly />
                    </td>
                </tr>
                <tr>
                    <td>合格日期</td>
                    <td>
                        <input id="hgrq" class="mini-datepicker" readonly/>
                    </td>

                </tr>
                <tr>
                    <td>入炉人</td>
                    <td>
                        <input name="rlr" property="editor" class="mini-combobox" url="$adminsUrl"
                               textField="name" valueField="dbId"  readonly="true"/>
                    </td>
                    <td>出炉人</td>
                    <td>
                        <input name="clr" id="clr" property="editor" class="mini-combobox" url="$adminsUrl"
                               textField="name" valueField="dbId"  readonly/>
                    </td>
                </tr>
                <tr>
                    <td>入炉时间</td>
                    <td colspan="3">
                        <input name="rlsj" id="rlsj" class="mini-textbox" width="335px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>出炉时间</td>
                    <td colspan="3">
                        <input id="clsj" name="clsj" class="mini-datepicker"  nullValue="null" width="335px"
                               format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="false"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes('确定')" style="width:80px;margin-right:20px;">确定</a>
    <a class="mini-button" onclick="onCancel" style="width:80px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;

    function initExtMouldInfo(taskIdParm) {
        var taskform = new mini.Form("taskform");
        //跨页面传递的数据对象，克隆后才可以安全使用
        $.ajax({
            url: "${getMouldFlowInfoURL}",
            data: {taskId: taskId},
            cache: false,
            type: 'post',
            success: function (extMould) {
                taskform.setData(extMould);
                mini.get("clsj").setValue(new Date());
                mini.get("clr").setValue($user.getDbId());
                taskform.setChanged(false);
            }
        });
    }

    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(600);
        openWindow.setHeight(500);
        windowMiddle(openWindow);
        taskId = mini.clone(taskIdParm);
        initMouldInfo(taskId);
        initExtMouldInfo(taskId);
    }

    function doTaskYes(nextStep) {
        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        $.ajax({
            url: "$doTaskUrl",
            data: {taskId: taskId,
                nextStep:  nextStep,
                formData:mini.encode(taskform.getData())},
            cache: false,
            type:'post',
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }
</script>
</body>