#set($doTaskUrl=$link.setRelative('MouldAction/jyscsy.do'))
#set($getMouldFlowInfoURL=$link.setRelative('MouldAction/getMouldFlowInfo.do'))
#set($adminsUrl=$link.setRelative('/AdminAction/findAll.json'))
#set($maintenancersUrl=$link.setRelative('/AdminAction/getPowerAdminsByName.do?powerName=新模技术检修处理'))

<body>
    #parse("content/flow/mould/mouldInfo.vm")
<fieldset id="fd1">
    <legend><span>任务内容</span></legend>
    <div class="fieldset-body">
        <form id="taskform" method="post">
            <table style="table-layout:fixed;">
                <tr>
                <td style="width:100px;">累计产量：</td>
                <td style="width:150px;">
                    <input name="ljcl" id="ljcc" class="mini-textbox" readonly />
                </td>
                <td tyle="width:100px;">试模次数：</td>
                <td style="width:150px;">
                    <input name="smcs" id="smcs"  class="mini-textbox"   readonly />
                </td>
            </tr>
                <tr>
                    <td>氮化/限产</td>
                    <td>
                        <input name="dhxc" id="dhxc" class="mini-textbox" />
                    </td>
                    <td>排模人</td>
                    <td>
                        <input name="pmr" id="pmr" property="editor" class="mini-combobox" url="$adminsUrl"
                               textField="name" valueField="dbId" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>氮化/限产</td>
                    <td>
                        <input name="dhxc" id="dhxc" class="mini-textbox" />
                    </td>
                    <td>排模理由</td>
                    <td>
                        <input name="pmly" id="pmly" class="mini-textbox" />
                    </td>
                </tr>
                <tr>
                    <td>收模时间</td>
                    <td>
                        <input id="smsj" name="smsj" readonly class="mini-datepicker"  nullValue="null"
                               format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="false"/>
                    </td>
                    <td>排模日期</td>
                    <td>
                        <input name="pmrq" id="pmrq" readonly class="mini-datepicker" />
                    </td>
                </tr>
                <tr>
                    <td>加温时间</td>
                    <td>
                        <input id="jwsj" name="jwsj" readonly class="mini-datepicker"  nullValue="null"
                               format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="false"/>
                    </td>
                    <td >上机时间：</td>
                    <td >
                        <input name="sjsj" id="sjsj" class="mini-datepicker" readonly />
                    </td>
                </tr>
                <tr>
                    <td>棒长/料长</td>
                    <td>
                        <input name="bclc" id="bclc" class="mini-textbox"  />
                    </td>
                    <td >产出数量：</td>
                    <td >
                        <input name="ccsl" id="ccsl" class="mini-textbox"  />
                    </td>
                </tr>
                <tr>
                    <td>出料情况</td>
                    <td>
                        <input name="clqk" id="clqk" class="mini-textbox"  />
                    </td>
                    <td >卸模时间：</td>
                    <td >
                        <input id="xmsj" name="xmsj"  class="mini-datepicker"  nullValue="null"
                               format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="false"/>
                    </td>
                </tr>
                <tr>
                    <td>卸模原因</td>
                    <td>
                        <input name="xmyy" id="xmyy" class="mini-textbox"  />
                    </td>
                    <td>异常时段</td>
                    <td>
                        <input id="ycsd" name="ycsd" class="mini-textbox"/>
                    </td>
                </tr>
                <tr>
                    <td>未试理由</td>
                    <td>
                        <input name="wsly" id="wsly" class="mini-textbox"  />
                    </td>
                    <td>还库理由</td>
                    <td>
                        <input id="hkly" name="hkly" class="mini-textbox"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</fieldset>
<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes('确定')" style="width:80px;margin-right:20px;">确定</a>
    <a class="mini-button" onclick="onCancel" style="width:80px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;

    function initExtMouldInfo(taskIdParm) {
        var taskform = new mini.Form("taskform");
        //跨页面传递的数据对象，克隆后才可以安全使用
        $.ajax({
            url: "${getMouldFlowInfoURL}",
            data: {taskId: taskId},
            cache: false,
            type: 'post',
            success: function (extMould) {
                taskform.setData(extMould);
                taskform.setChanged(false);
            }
        });
    }

    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(600);
        openWindow.setHeight(650);
        windowMiddle(openWindow);
        taskId = mini.clone(taskIdParm);
        initMouldInfo(taskId);
        initExtMouldInfo(taskId);
    }

    function doTaskYes(nextStep) {
        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        $.ajax({
            url: "$doTaskUrl",
            data: {taskId: taskId,
                nextStep:  nextStep,
                formData:mini.encode(taskform.getData())},
            cache: false,
            type:'post',
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }
</script>
</body>