#set($doTaskUrl=$link.setRelative('MouldAction/xmjjxcl.do'))
#set($getMouldFlowInfoURL=$link.setRelative('MouldAction/getMouldFlowInfo.do'))


<body>
    #parse("content/flow/mould/mouldInfo.vm")
<form id="taskform" method="post">
<fieldset id="fd1">
    <legend><span>检修情况</span></legend>
    <div class="fieldset-body">
            <table style="table-layout:fixed;">
                <tr>
                    <td style="width:100px;">可量尺寸：</td>
                    <td style="width:150px;">
                        <input name="klcc" id="klcc" class="mini-textbox" required="true" " />
                    </td>
                    <td tyle="width:100px;">面膜工作带：</td>
                    <td style="width:150px;">
                        <input name="mmgzd" id="mmgzd" class="mini-textbox" required="true"/>
                    </td>
                </tr>
                <tr>
                    <td >下模空道：</td>
                    <td>
                        <input name="xmkd" id="xmkd" class="mini-textbox" required="true" " />
                    </td>
                    <td >上模上空道：</td>
                    <td >
                        <input name="smskd" id="smskd" class="mini-textbox" required="true"/>
                    </td>
                </tr>
                <tr>
                    <td >上模下空道：</td>
                    <td >
                        <input name="smxkd" id="smxkd" class="mini-textbox" required="true" " />
                    </td>
                    <td >壁厚情况：</td>
                    <td >
                        <input name="bhqk" id="bhqk" class="mini-textbox" required="true"/>
                    </td>
                </tr>
                <tr>
                    <td >情况描述：</td>
                    <td colspan="3">
                        <input name="jxqkms" id="jxqkms" class="mini-textbox" required="true" width="355px"  />
                    </td>
                </tr>
            </table>
            </div>
        </fieldset>
        <fieldset id="fd2">
            <legend><span>处理方案</span></legend>
            <div class="fieldset-body">
                <table style="table-layout:fixed;">
                    <tr>
                        <td style="width:100px;">合格入库：</td>
                        <td style="width:150px;">
                            <input name="hgrk" id="hgrk" class="mini-textbox" required="true" " />
                        </td>
                        <td tyle="width:100px;">氮化/限产：</td>
                        <td style="width:150px;">
                            <input name="dhxc" id="mmgzd" class="mini-textbox" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td >氮化处理：</td>
                        <td >
                            <input name="dhcl" id="dhcl" class="mini-textbox" required="true" " />
                        </td>
                        <td >退模申请：</td>
                        <td >
                            <input name="tmsq" id="tmsq" class="mini-textbox" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td >返修申请：</td>
                        <td >
                            <input name="fxsq" id="fxsq" class="mini-textbox" required="true" " />
                        </td>
                        <td >试模安排：</td>
                        <td >
                            <input name="smap" id="smap" class="mini-textbox" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td >监督人：</td>
                        <td >
                            <input name="jdr" id="jdr" class="mini-textbox" required="true" " />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
</form>

<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes('确定')" style="width:80px;margin-right:20px;">确定</a>
    <a class="mini-button" onclick="doTaskYes('返修申请')" style="width:80px;margin-right:20px;">返修申请</a>
    <a class="mini-button" onclick="doTaskYes('退模申请')" style="width:80px;margin-right:20px;">退模申请</a>
    <a class="mini-button" onclick="onCancel" style="width:80px;">取消</a>
</div>
<script type="text/javascript">
    mini.parse();
    var taskId;

    function initExtMouldInfo(taskIdParm) {
        var taskform = new mini.Form("taskform");
        //跨页面传递的数据对象，克隆后才可以安全使用
        $.ajax({
            url: "${getMouldFlowInfoURL}",
            data: {taskId: taskId},
            cache: false,
            type: 'post',
            success: function (extMould) {
                taskform.setData(extMould);
                taskform.setChanged(false);
            }
        });
    }

    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm,openWindow) {
        openWindow.setWidth(600);
        openWindow.setHeight(630);
        windowMiddle(openWindow);
        taskId = mini.clone(taskIdParm);
        initMouldInfo(taskId);
        initExtMouldInfo(taskId);
    }

    function doTaskYes(nextStep) {
        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        $.ajax({
            url: "$doTaskUrl",
            data: {taskId: taskId,
                nextStep:  nextStep,
                formData:mini.encode(taskform.getData())},
            cache: false,
            type:'post',
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }
</script>
</body>