#set($allDetailUrl=$link.setRelative('/AdminAction/getAuthorDetails.json'))
#set($userGroupsUrl=$link.setRelative('/AdminAction/findAllUserGroup.json'))
#set($editUserGroupUrl=$link.setRelative('/AdminAction/editUserGroup.json'))
#set($removeUserGroupUrl=$link.setRelative('/AdminAction/removeUserGroup.json'))

#set($userGroupsDetailsUrl=$link.setRelative('/AdminAction/getAuthorDetailsByGroup.json'))
#set($editAuthorDetailsUrl=$link.setRelative('/AdminAction/editAuthorDetails.json'))

<style type="text/css">
    body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }
</style>
<body>
<div class="mini-splitter" style="width:100%;height:100%;">
    <div size="300" showCollapseButton="true">
        <div style="width:100%;">
            <div class="mini-toolbar" style="border-bottom:0;padding:0px;">
                <a class="mini-button" iconCls="icon-add" onclick="addRow()" plain="true">增加</a>
                <a class="mini-button" iconCls="icon-remove" onclick="removeRow()" plain="true">删除</a>
                <span class="separator"></span>
                <a class="mini-button" iconCls="icon-save" onclick="saveUserGroupData()" plain="true">保存</a>
            </div>
        </div>
        <div class="mini-fit">
            <div id="dept_grid" class="mini-datagrid" style="width:100%;height:100%;"
                 url="$userGroupsUrl"  idField="dbId" pageSize="30"
                 allowCellEdit="true" allowCellSelect="true"
                 onselectionchanged="onSelectionChanged"  showPager="false"
                    >
                <div property="columns">
                    <div type="checkcolumn" ></div>
                    <div field="name" allowResize="false"  headerAlign="center" >组名
                        <input property="editor" class="mini-textbox" style="width:100%;" />
                    </div>
                    <div field="groupLever" allowResize="false"  headerAlign="center" >等级
                        <input property="editor" class="mini-spinner" value="1" minValue="1" maxValue="10" style="width:100%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div showCollapseButton="true">
        <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;">
            <a class="mini-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a>
        </div>
        <div class="mini-fit" >
            <ul id="tree2" class="mini-tree" url="$allDetailUrl" style="width:200px;padding:5px;height: 100%"
                showTreeIcon="true" textField="text" idField="id" parentField="parentid" resultAsTree="false"
                showCheckBox="true" checkRecursive="true"
                allowSelect="false" enableHotTrack="false"
                    >
            </ul>
        </div>
    </div>
</div>


<script type="text/javascript">
    mini.parse();
    var grid = mini.get("dept_grid");
    var tree = mini.get("tree2");
    grid.load();

    function addRow() {
        var newRow = { name: "New Row" };
        grid.addRow(newRow, 0);
    }

    function removeRow() {
        var row = grid.getSelected();
        if (row) {
            if (confirm("确定删除此记录？")) {
                grid.loading("删除中，请稍后......");
                $.ajax({
                    url: "${removeUserGroupUrl}",
                    data: { userGroupId: row.dbId },
                    success: function (text) {
                        grid.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        mini.alert(jqXHR.responseText);
                    }
                });
            }
        }
    }

    function saveUserGroupData() {
        var data = grid.getChanges();
        var json = mini.encode(data);

        grid.loading("保存中，请稍后......");
        $.ajax({
            url: "${editUserGroupUrl}",
            data: { data: json },
            type: "post",
            success: function (text) {
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });
    }

    function onSelectionChanged(e) {

        var grid = e.sender;
        var record = grid.getSelected();
        if (record) {
            editTree(record._uid);
        } else {
            form.reset();
        }
    }

    function editTree(row_uid) {
        var row = grid.getRowByUID(row_uid);
        if (row) {
            $.ajax({
                url: "$userGroupsDetailsUrl",
                data: row,
                success: function (nodes) {
                    var params="";
                    for(var a=0;a<nodes.length;a++){
                        if(nodes[a].isLeaf)
                         params+=nodes[a].id;
                       if(a!=nodes.length-1)
                         params+=",";
                    }
                    tree.setValue(params);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    mini.alert(jqXHR.responseText);
                }
            });
            var tree = mini.get("tree2");
            var nodes = tree.getAllChildNodes(tree.getRootNode());
            tree.checkNodes(nodes);
        }
    }

    function saveData(){
        var row = grid.getSelected();
        var value = tree.getValue();
        var param = $.extend({details:value},row);
        $.ajax({
            url: "$editAuthorDetailsUrl",
            data: param,
            success: function (nodes) {
                mini.alert("操作成功");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert("操作失败");
            }
        });
    }

</script>
</body>