#set($loadAdminsURL=$link.setRelative('/AdminAction/findAdmins.json'))
#set($loadClientURL=$link.setRelative('/ClientAction/loadClient.json'))
#set($loadProductRecordURL=$link.setRelative('/ProductAction/loadProductRecord.json'))
#set($loadOrderDeatilURL=$link.setRelative('/BussinessAction/getOrderDetail.json'))
#set($downLoadPDFUrl=$link.setRelative('/ReportAction/exportProductRecord.do'))
#set($productInfoVm=$link.setRelative('/content/product/productInfo.vm'))


<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>
<body>
<div class="mini-fit">
    <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0; ">
        <form id="searchForm" method="post">
            <input id="startDate" class="mini-datepicker"/> -
            <input id="endDate" class="mini-datepicker"/>
            <input id="code" class="mini-textbox" emptyText="编号"/>
            <input id="orderCode" class="mini-textbox" emptyText="订单编号"/>
            <a class="mini-button" plain="true" iconCls="icon-search" onclick="search()">查询</a>
            <a class="mini-button" iconCls="icon-goto" plain="true" onclick="lookForFlow()">查看生产流程</a>
            <a class="mini-button" iconCls="icon-goto" plain="true" onclick="download()">下载跟踪单</a>
        </form>
    </div>
    <div class="mini-fit">
        <div id="productGrid" class="mini-datagrid" style="width:100%;height:70%;"
             borderStyle="border:0;" onselectionchanged="onOrderChanged"
             url="$loadProductRecordURL" allowCellSelect="true"
             onrowdblclick="onRowDblClick">
            <div property="columns">
                <div field="orderForm.code" width="120" headerAlign="center">订单编号
                </div>
                <div field="code" width="120" headerAlign="center">生产记录编号
                </div>
                <div field="orderForm.scheme.name"  headerAlign="center" >图纸
                </div>
                <div field="orderForm.client.agent.name"  headerAlign="center" >业务员
                </div>
                <div field="orderForm.client.name"  headerAlign="center" >客户
                </div>
                <div field="orderForm.material.name" width="60" headerAlign="center" >材质
                </div>
                <div field="aginghardness" width="60" headerAlign="center">时效硬度
                </div>
                <div field="surfaceProcess.name" width="60" headerAlign="center">表面处理
                </div>
                <div field="oxiFilm" width="60" headerAlign="center">氧化膜厚度
                </div>
                <div field="orderForm.pack.name" width="60" headerAlign="center">包装方式
                </div>
                <div field="createDate" width="120" headerAlign="center">生产日期
                </div>
                <!--
                <div field="recordNum" width="60" headerAlign="center">订单记录次数
                </div>
                <div field="charger.name" width="120" headerAlign="center">机台负责人
                </div>
                <div field="productTeam.name" width="120" headerAlign="center">机台班组
                </div>
                <div field="kpm" width="120" headerAlign="center">米重
                </div>
                <div field="aginger.name" width="120" headerAlign="center">时效员
                </div>

                <div field="alHeatNum" width="120" headerAlign="center">铝棒炉号
                </div>
                <div field="nitrideNum" width="120" headerAlign="center">氮化数量
                </div>
                -->
            </div>
        </div>
        <div id="detailGrid" class="mini-datagrid" style="width:100%;height:30%;"
             url="$loadOrderDeatilURL" idField="dbId"
             showFooter="false" pageSize="20" pager="#pager1"
                >
            <div property="columns">
                <div field="setSize" width="120" headerAlign="center">尺寸</div>
                <div field="orderWeight" width="120" headerAlign="center">订货重量</div>
                <div field="compWeight" width="120" headerAlign="center">完成重量</div>
                <div field="orderQuantity" width="120" headerAlign="center">订货数量</div>
                <div field="compQuantity" width="120" headerAlign="center">完成数量</div>
                <div field="compStatus" width="120" headerAlign="center">完成状态</div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    mini.parse();
    var searchForm = new mini.Form("searchForm");
    var productGrid = mini.get("productGrid");
    var detailGrid = mini.get("detailGrid");

    function download(){
        var productRecord = productGrid.getSelected();
        if(productRecord)
            window.location.href="${downLoadPDFUrl}?productRecordId="+productRecord.dbId;
    }

    function onOrderChanged(e) {
        var grid = e.sender;
        var productRecord = grid.getSelected();
        if (productRecord) {
            detailGrid.load({orderId: productRecord.orderForm.dbId});
        }
    }

    function lookForFlow(){
        var product = productGrid.getSelected();

        var excutionId = "productRecordFlow."+product.code;
        mini.open({
            url: "$flowImgVm",
            title: "模具流程进度", width: 650, height: 550,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(excutionId);
            }
        });
    }

    function search() {
        var startDate = mini.get("startDate");
        var endDate = mini.get("endDate");
        var code = mini.get("code");
        var orderCode = mini.get("orderCode");
        var parm = {
            startDate: startDate.getText(),
            endDate: endDate.getText(),
            code: code.getValue(),
            orderCode: orderCode.getValue()
        };
        productGrid.load(parm);
    }
    function setData(orderId) {
        productGrid.load({orderId: orderId});
    }

    function onRowDblClick(e) {
        var product = productGrid.getSelected();
        mini.open({
            url: "$productInfoVm",
            title: "选择列表",
            width: 800,
            height: 400,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(product);
            }
        });
    }
</script>