#set($loadSchemeUrl=$link.setRelative('/MouldAction/loadMould.json'))
#set($editVm=$link.setRelative('/content/mould/edit.vm'))
#set($schemeEditVm=$link.setRelative('/content/scheme/edit.vm'))
#set($getBmpUrl=$link.setRelative('/SchemeAction/downImg.do'))
#set($deleteMouldUrl=$link.setRelative('/MouldAction/deleteMould.json'))
#set($productTypeUrl=$link.setRelative('/DataDictAction/findDictList.json?code=productType'))
#set($startPaiDanFlowUrl=$link.setRelative('/PaiDanFlowAction/startPaiDanFlow.json'))
#set($flowImgVm=$link.setRelative('/content/flow/flowImg.vm'))
#set($showMouldRecordVm=$link.setRelative('/content/mould/showMouldRecord.vm'))
#set($showMouldTestRecorVm=$link.setRelative('/content/mould/showMouldTestRecord.vm'))



<body>
<form id="form1" method="post">
<div class="mini-toolbar">
    <a class="mini-button" iconCls="icon-add" onclick="addMould">增加</a>
    <a class="mini-button" iconCls="icon-edit" onclick="editMould">修改</a>
    <a class="mini-button" iconCls="icon-remove" onclick="deleteMould">删除</a>
    <span class="separator"></span>
    <input name="key" class="mini-textbox" emptyText="请输入模具编号" onenter="search" />
    <a class="mini-button"  plain="true" iconCls="icon-search" onclick="search()">查询</a>
    <div id="schemePage" class="mini-pager" style="float: right "
         onpagechanged="onPageChanged" sizeList="[12]" pageSize="12"
         showPageSize="true" showPageIndex="true" showPageInfo="true"
            >
    </div>
</div>
</form>
<table class="form-table" id="damicTable" border="0" cellpadding="1" cellspacing="2">
</table>


<ul id="contextMenu" class="mini-contextmenu" >
    <li>
        <span >操作</span>
        <ul>
            <li iconCls="icon-new" onclick="addMould">新建</li>
            <li iconCls="icon-edit" onclick="editMould">修改</li>
            <li iconCls="icon-remove" onclick="deleteMould">删除</li>
        </ul>
    </li>
    <li class="separator"></li>
    <li iconCls="icon-goto" onclick="editScheme">查看图纸</li>
    <li iconCls="icon-add" onclick="startPaiDanFlow">开启排单流程</li>
    <li iconCls="icon-goto" onclick="lookForFlow" >查看模具流程</li>
    <li iconCls="icon-goto" onclick="lookForPaidanFlow" >查看排单流程</li>
    <li iconCls="icon-goto" onclick="showMouldRecord" >查看模具生产记录</li>
    <li iconCls="icon-goto" onclick="showMouldTestRecord" >查看试模记录</li>
</ul>


<script type="text/javascript">
    mini.parse();
    var selectedMould;
    var page = mini.get("schemePage");
    var loadSchemeUrl =  "$loadSchemeUrl";
    var lastsearchData={};
    var mouldStates={0:'定制',1: '试模', 2: '返修',
        3: '可配半键报废', 4: '判定', 5: '彻底报废'
        , 6: '氮化', 7: '待产', 8: '生产'};

    function showMouldRecord(){
        mini.open({
            url: "$showMouldRecordVm",
            title: "模具记录", width: 600, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(selectedMould.dbId);
            }
        });
    }

    function showMouldTestRecord(){
        mini.open({
            url: "$showMouldTestRecorVm",
            title: "试模记录", width: 600, height: 300,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(selectedMould.dbId);
            }
        });
    }
    function lookForFlow(){
        var excutionId = "mouldFlow."+selectedMould.code;
        mini.open({
            url: "$flowImgVm",
            title: "模具流程进度", width: 650, height: 440,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(excutionId);
            }
        });
    }
    function lookForPaidanFlow(){
        var count = selectedMould.mouldRecordCount==0?0:selectedMould.mouldRecordCount-1;
        var excutionId = "paidan."+selectedMould.code+"_"+count;
        mini.open({
            url: "$flowImgVm",
            title: "排单流程进度", width: 650, height: 420,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(excutionId);
            }
        });
    }

    function search(){
        var form = new mini.Form("form1");
        lastsearchData = $.extend({},form.getData(),{
            pageIndex:0,
            pageSize:12
        });
        $.ajax({
            url: loadSchemeUrl,
            data: lastsearchData,
            success: function (nodes) {
                page.setTotalCount(nodes.total);
                appendTable(nodes.data)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    function loadSchemeList(pageIndex,pageSize){
        lastsearchData = $.extend(lastsearchData,{
            pageIndex:pageIndex,
            pageSize:pageSize
        });
        $.ajax({
            url: loadSchemeUrl,
            data:lastsearchData,
            success: function (nodes) {
                page.setTotalCount(nodes.total);
                appendTable(nodes.data)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }
    loadSchemeList(0,12);

    function appendTable(arg){

        var tbBody = "" ;
        for(var i =0;i<arg.length;i++) {
            if (i % 4 == 0) {
                tbBody += "<tr>" ;
            }
            var size = "";
            if(arg[i].mouldSize) size=arg[i].mouldSize.size;
            var mouldstatus = mouldStates[arg[i].status];
            tbBody +="<td class=\"form-label\" style=\"width:60px;\">"+
                    "<div id=\"region"+arg[i].dbId+"\" class=\"imgdiv\"  style=\"width:250px;height:200px;border:solid 2px #bbb;font-size:13px;color:#999;text-align:center;font-weight:bold;cursor:default;\">"+
                    "<img src=\"${getBmpUrl}?schemeId="+arg[i].scheme.dbId+"\" style=\"width:250px;\"/>"+
                    "<div  style='text-align:left;font-size: 14px;padding-top: 15px;padding-left:20px;color:green'>"+arg[i].code+"     "+size+" <font color=red>"+mouldstatus+"</font></div>"+
                    "</div>"+
                    "</td>"

            if (i % 4 == 3) {
                tbBody += "</tr>" ;
            }
        }
        $("#damicTable").html(tbBody);
        for(var i =0;i<arg.length;i++) {
            bindContenMenu("region"+arg[i].dbId,arg[i]);
            imgClick("region"+arg[i].dbId,arg[i])
        }
    }

    function onItemClick(e) {
        var item = e.sender;
        alert(item.getText());
    }

    function startPaiDanFlow(e){
        if(selectedMould.status!="7"){
            mini.alert("只有待产状态才能开启排单流程");
            return;
        }
        $.ajax({
            url: "$startPaiDanFlowUrl",
            data: { mouldId: selectedMould.dbId },
            success: function (text) {
                mini.alert("操作成功");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }

    function onPageChanged(e) {
        loadSchemeList(e.pageIndex, e.pageSize);
    }

    function imgClick(divId,json){
        $("#"+divId).click(function(){
            $(".imgdiv").each(function(index){
                $(this).css({'border-color':'#bbb'})
            });
            $("#"+divId).css({'border-color':'#f00'});
            selectedMould=json;
        });
    }




    function bindContenMenu(divId,json){
        $("#"+divId).bind("contextmenu", function (e) {
            $(".imgdiv").each(function(index){
                $(this).css({'border-color':'#bbb'})
            });
            $("#"+divId).css({'border-color':'#f00'});
            selectedMould=json;
            var menu = mini.get("contextMenu");
            menu.showAtPos(e.pageX, e.pageY);
            return false;
        });
    }

    function addMould(){
        mini.open({
            url: "$editVm",
            title: "新增模具", width: 600, height: 400,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { shchemeDbId: "new"};
                iframe.contentWindow.setData("add",selectedMould);
            },
            ondestroy: function (action) {
                if(action=="save")
                    loadSchemeList(page.pageIndex, page.pageSize)
            }
        });
    }

    function editMould(){
        if(selectedMould)
        mini.open({
            url: "$editVm",
            title: "编辑模具", width: 600, height: 400,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { shchemeDbId: "new"};
                iframe.contentWindow.setData("edit",selectedMould);
            },
            ondestroy: function (action) {
                if(action=="save")
                    loadSchemeList(page.pageIndex, page.pageSize)
            }
        });
    }

    function deleteMould(){
            if (confirm("确定删除此记录？")) {
                $.ajax({
                    url: "$deleteMouldUrl",
                    data: { mouldId: selectedMould.dbId },
                    success: function (text) {
                        loadSchemeList(page.pageIndex, page.pageSize)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        mini.alert(jqXHR.responseText);
                    }
                });
            }
    }

    function editScheme(){
        mini.open({
            url: "$schemeEditVm",
            title: "查看图纸", width: 600, height: 560,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData("view",selectedMould.scheme);
            },
            ondestroy: function (action) {
            }
        });
    }


</script>

</body>