#set($loadMouldUrl=$link.setRelative('/MouldAction/loadMould.json'))
#set($getBmpUrl=$link.setRelative('/SchemeAction/downImg.do'))
#set($selectMouldUrl=$link.setRelative('/MouldAction/selectMould.json'))
<style type="text/css">
    body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }
</style>

<body>
<div class="mini-splitter" style="width:100%;height:100%">
    <div size="70%" showCollapseButton="false" style="padding:5px;">
        <div class="mini-toolbar" style="text-align:center;line-height:30px;" borderStyle="border:0;">
            <label >名称或编号：</label>
            <input id="key"  class="mini-textbox" emptyText="名称或编号" onenter="search()" />
            <a class="mini-button" style="width:60px;" onclick="search()">查询</a>
            <span style="display:inline-block;width:25px;"></span>
        </div>

        <div class="mini-fit">

            <div id="datagrid1" class="mini-datagrid" style="width:100%;height:100%;"
                 url="$loadMouldUrl"  idField="id" allowResize="true"
                 onselectionchanged="onSelectionChanged"
                 onrowdblclick="onRowDblClick"
                 sizeList="[10,20,30,50,100]" pageSize="20"
                    >
                <div property="columns">
                    <div type="checkcolumn" ></div>
                    <div field="code"  headerAlign="center" allowSort="true">编号</div>
                    <div field="mouldSize.size"  headerAlign="center" allowSort="true">规格</div>
                    <div field="scheme.code"   align="center" >图纸编号</div>
                    <div field="manuDate"  align="center" >设计日期</div>
                </div>
            </div>
        </div>
    </div>
    <div showCollapseButton="false">
        <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;">
            <a class="mini-button" iconCls="icon-remove" plain="true" onclick="onRemoveNode()">删除节点</a>
            #if($beanFactory.LookUp("adminService").havePower($user,"开启跟踪单"))
                <a class="mini-button" style="width:120px;" onclick="confirmSelect()">确定分配</a>
            #end
        </div>
        <ul id="mouldtree" class="mini-tree"  style="width:100%;height: 140px"
            showTreeIcon="true" textField="code" idField="dbId" parentField="pid" resultAsTree="false"
                >
        </ul>
        <img id="bmp" width="200"  />
    </div>
</div>


</body>

<script type="text/javascript">
    mini.parse();
    var grid = mini.get("datagrid1");
    var mouldtree = mini.get("mouldtree");


    function search() {
        var key = mini.get("key").getValue();
        grid.load({ name: key });
    }

    function onSelectionChanged(e) {
        var grid = e.sender;
        if (grid.getSelected()) {
            var scheme = grid.getSelected().scheme;
            $("#bmp").attr("src","${getBmpUrl}?schemeId="+ scheme.dbId);
        }
    }

    function onRowDblClick(e) {
        onOk();
    }

    function onRowDblClick(e) {
        var mould = grid.getSelected();
        var treeData = mouldtree.getData();
        for(var a=0;a<treeData.length;a++){
            if(treeData[a].dbId == mould.dbId)
                return;
        }
        mouldtree.addNode(mould, "after");
    }

    function GetData() {
        var row = grid.getSelected();
        return row;
    }

    function onOk() {
        CloseWindow("ok");
    }
    function onCancel() {
        CloseWindow("cancel");
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow)
            return window.CloseOwnerWindow(action);
        else window.close();
    }

    function onRemoveNode(e) {
        var node = mouldtree.getSelectedNode();
        if(node)
            mouldtree.removeNode(node);
    }
    var recordId;
    function setData(recordIdParm) {
        recordId = mini.clone(recordIdParm);
        grid.load({ paiChanRecordId: recordIdParm });
    }

    function confirmSelect(){
        var mouldData = mouldtree.getData();
        var mouldList ='';
        for(var a=0;a<mouldData.length;a++){
            mouldList +=mouldData[a].dbId;
            if(a!=mouldData.length-1)
                mouldList +=","
        }
        $.ajax({
            url: "$selectMouldUrl",
            data: {
                mouldList:mouldList,
                recordId:recordId
            },
            success: function (text) {
                mini.alert('操作成功');
                onOk();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });
    }

</script>
