#set($getMouldRecordsUrl=$link.setRelative('/MouldAction/getMouldRecords.json'))
<style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        overflow:hidden;
    }
</style>
<body>
<div id="detailGrid" class="mini-datagrid" style="width:100%;height:100%;"
     url="$getMouldRecordsUrl"  idField="dbId"
     showFooter="false" pageSize="20" pager="#pager1"
        >
    <div property="columns">
        <div field="mould.code"  width="50"  headerAlign="center" >模具编号</div>
        <div field="heatingTime" width="50"  headerAlign="center" >加温时间</div>
        <div field="productTeam.name" width="50"  headerAlign="center" >机台号</div>
        <div field="produceQuantity" width="50"  headerAlign="center" >产量</div>
        <div field="unloadingReason" width="50"  headerAlign="center" >卸模原因</div>
        <div field="material.name" width="50"  headerAlign="center" >材质</div>
        <div field="quantity" width="50"  headerAlign="center" >铝棒数量</div>
        <div field="lbgg" width="50"  headerAlign="center" >铝棒规格</div>
        <div field="operator.name" width="50"  headerAlign="center" >操作员</div>
        <div field="createTime" width="50"  headerAlign="center" >创建时间</div>
    </div>
</div>
<script type="text/javascript">
    ////////////////////
    //标准方法接口定义
    function setData(mouldId) {
        var grid = mini.get("detailGrid");
        grid.load({mouldId:mouldId});
    }
</script>
</body>
