#set($findCityUrl=$link.setRelative('/CommonAction/findAllCity.json'))
#set($addCityUrl=$link.setRelative('/CommonAction/addCity.json'))
#set($deleteCityUrl=$link.setRelative('/CommonAction/deleteCity.json'))
<body>

<ul id="tree1" class="mini-tree" url="$findCityUrl" style="width:200px;padding:5px;"
    showTreeIcon="true" textField="name" idField="dbId" parentField="father_dbId" resultAsTree="false"
    contextMenu="#treeMenu"
        >
</ul>


<ul id="treeMenu" class="mini-contextmenu"  onbeforeopen="onBeforeOpen">
    <li class="separator"></li>
    <li onclick="onAddAfter">插入节点</li>
    <li onclick="onAddNode">插入子节点</li>
    <li name="edit" iconCls="icon-edit" onclick="onEditNode">编辑节点</li>
    <li name="remove" iconCls="icon-remove" onclick="onRemoveNode">删除节点</li>
</ul>


<div id="editWindow" class="mini-window" title="提示" style="width:300px;"
     showModal="true" allowResize="true" allowDrag="true"
        >
    <div id="editform" class="form" >
        <input class="mini-hidden" name="id"/>
        <input name="operate"   class="mini-hidden" /></td>
        <table style="width:100%;">
            <tr>
                <td style="width:80px;">城市名称：</td>
                <td style="width:150px;"><input name="name" class="mini-textbox" /></td>
            </tr>
            <tr>
                <td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="6">
                    <a class="Update_Button" href="javascript:updateRow()">更新</a>
                    <a class="Cancel_Button" href="javascript:cancelRow()">取消</a>
                </td>
            </tr>

        </table>
    </div>
</div>



<script type="text/javascript">
    mini.parse();

    var editWindow = mini.get("editWindow");
    var form = new mini.Form("#editform");
    var tree = mini.get("tree1");
    function onAddAfter(e) {
        editWindow.show();
        form.clear();
        form.loading();
        form.unmask();
        form.setData({operate:'after'});
    }
    function onAddNode(e) {
        editWindow.show();
        form.clear();
        form.loading();
        form.unmask();
        form.setData({operate:'child'});
    }
    function onEditNode(e) {
        editWindow.show();
        form.clear();
        form.loading();
        form.unmask();
        var node = tree.getSelectedNode();
        form.setData({operate:'edit',name:node.name});

    }
    function onRemoveNode(e) {
        var node = tree.getSelectedNode();

        if (node) {
            if (confirm("确定删除选中节点?")) {
                $.ajax({
                    url: "$deleteCityUrl",
                    data: { dbId:node.dbId },
                    success: function (text) {
                        tree.removeNode(node);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        mini.alert(jqXHR.responseText);
                    }
                });

            }
        }
    }


    function updateRow() {
        var o = form.getData();
        var node = tree.getSelectedNode();
        $.ajax({
            url: "$addCityUrl",
            data: { newNodeName: o.name, operate: o.operate, refNodeId:node.dbId },
            success: function (newNode) {
                if(o.operate=='edit'){
                    node.name = o.name;
                    tree.doUpdate();
                } else
                tree.addNode(newNode, o.operate, node);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });

        editWindow.hide();
    }

    function cancelRow() {
        editWindow.hide();
    }



    function onBeforeOpen(e) {
        var menu = e.sender;
        var tree = mini.get("tree1");

        var node = tree.getSelectedNode();
        if (!node) {
            e.cancel = true;
            return;
        }
        if (node && node.text == "Base") {
            e.cancel = true;
            //阻止浏览器默认右键菜单
            e.htmlEvent.preventDefault();
            return;
        }

        ////////////////////////////////
        var editItem = mini.getbyName("edit", menu);
        var removeItem = mini.getbyName("remove", menu);
        editItem.show();
        removeItem.enable();

        if (node.id == "forms") {
            editItem.hide();
        }
        if (node.id == "lists") {
            removeItem.disable();
        }
    }
</script>
</body>