#set($priceUrl=$link.setRelative('/DataDictAction/loadDictList.json?code=lvdingPrice') )
<style type="text/css">
    body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }
</style>
<body>
<div class="mini-fit">
    <div id="datagrid1" class="mini-datagrid" style="width:100%;height:100%;"
         onrowdblclick="onRowDblClick"
         url="$priceUrl"  idField="dbId"  >

        <div property="columns">
            <div field="dbId" width="120" headerAlign="center" align="center" allowSort="true" >编号
                <input class="mini-textbox" />
            </div>
            <div field="name" width="120" align="center" headerAlign="center" allowSort="true">价格
                <input property="editor" class="mini-textbox" style="width:100%;"/>
            </div>
            <div field="editDate" width="120" align="center" headerAlign="center" allowSort="true">日期
                <input property="editor" class="mini-datepicker" format="yyyy-MM-dd" style="width:100%;"/>
            </div>
            <div name="action" width="120" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;">#</div>
        </div>
    </div>
</div>
<div class="mini-toolbar" style="text-align:center;padding-top:8px;padding-bottom:8px;" borderStyle="border:0;">
    <a class="mini-button" style="width:60px;" onclick="onOk()">确定</a>
    <span style="display:inline-block;width:25px;"></span>
    <a class="mini-button" style="width:60px;" onclick="onCancel()">取消</a>
</div>
<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();
    grid.sortBy("dbId", "desc");


    function onActionRenderer(e) {
        var grid = e.sender;
        var record = e.record;
        var uid = record._uid;
        var rowIndex = e.rowIndex;

        var s = '<a class="New_Button" href="javascript:newRow()">新建</a>'
                + ' <a class="Edit_Button" href="javascript:editRow(\'' + uid + '\')">编辑</a>'
                + ' <a class="Delete_Button" href="javascript:delRow(\'' + uid + '\')">删除</a>';

        if (grid.isEditingRow(record)) {
            s = '<a class="Update_Button" href="javascript:updateRow(\'' + uid + '\')">保存</a>'
                    + '<a class="Cancel_Button" href="javascript:cancelRow(\'' + uid + '\')">取消</a>'
        }
        return s;
    }

    function newRow() {
        var row = {"dataDictCatalog":{"code":"lvdingPrice"}};
        grid.addRow(row, 0);

        grid.cancelEdit();
        grid.beginEditRow(row);
    }
    function editRow(row_uid) {
        var row = grid.getRowByUID(row_uid);
        if (row) {
            grid.cancelEdit();
            grid.beginEditRow(row);
        }
    }

    function cancelRow(row_uid) {
        grid.reload();
    }

    function delRow(row_uid) {
        var row = grid.getRowByUID(row_uid);
        if (row) {
            if (confirm("确定删除此记录？")) {
                grid.loading("删除中，请稍后......");
                $.ajax({
                    url: "$link.setRelative('/DataDictAction/deleteDict.json')",
                    data: { dbId: row.dbId },
                    success: function (text) {
                        grid.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        mini.alert(jqXHR.responseText);
                    }
                });
            }
        }
    }

    function updateRow(row_uid) {
        var row = grid.getRowByUID(row_uid);
        grid.commitEdit();
        var rowData = grid.getChanges();

        for(var i=0;i<rowData.length;i++){
            rowData[i].editDate = rowData[i].editDate==null?null:rowData[i].editDate.toJSON();
        }

        grid.loading("保存中，请稍后......");
        var json = mini.encode(rowData);
        $.ajax({
            url: "$link.setRelative('/DataDictAction/editDict.json')",
            data: { data: json },
            success: function (text) {
                grid.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });
    }

        function GetData() {
            return grid.getSelected();
        }

        function onRowDblClick(e) {
            onOk();
        }
        //////////////////////////////////
        function CloseWindow(action) {
            if (window.CloseOwnerWindow) return window.CloseOwnerWindow(action);
            else window.close();
        }

        function onOk() {
            CloseWindow("ok");
        }
        function onCancel() {
            CloseWindow("cancel");
        }

</script>
</body>