#set($doTaskUrl=$link.setRelative('ProductAction/shiXiao.do'))
<style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        width: 100%;
        overflow:hidden;
    }
</style>
<body>
<div class="mini-tabs" style="width:100%;height:90%" activeIndex="0">

    <div title="生产记录信息"  >
        #parse("content/flow/product/productInfo.vm")
        <fieldset id="fd1">
            <legend><span>  时效信息</span></legend>
            <div class="fieldset-body">
                <form id="taskform" method="post">
                    <table style="table-layout:fixed;">
                        <tr>
                            <td style="width:90px;">实测硬度：</td>
                            <td style="width:150px;">
                                <input name="aginghardness" class="mini-textbox" required="true"/>
                            </td>
                            <td style="width:90px;">时效炉号：</td>
                            <td style="width:150px;">
                                <input name="alHeatNum" class="mini-textbox" required="true"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </fieldset>
    </div>
    #parse("content/flow/product/orderInfo_least.vm")
</div>


<div style="text-align:center;padding:10px;">
    <a class="mini-button" onclick="doTaskYes()" style="width:60px;margin-right:20px;"> 通过</a>
    <a class="mini-button" onclick="onCancel" style="width:60px;">取消</a>
</div>
#parse("content/flow/product/initJs.vm")
<script type="text/javascript">
    mini.parse();
    var taskId;
    var productTracegrid = mini.get("productTracegrid");

    ////////////////////
    //标准方法接口定义
    function setData(taskIdParm, openWindow) {
        openWindow.setWidth(1000);
        openWindow.setHeight(470);
        windowMiddle(openWindow);
        taskId = mini.clone(taskIdParm);
        initOrderInfo(taskId);
        initProductInfo(taskId);
    }

    function doTaskYes(){
        var productTraceDatail = mini.encode(productTracegrid.getData());
        var remarks = mini.get("remarks").getValue();
        var taskform = new mini.Form("taskform");
        taskform.validate();
        if (taskform.isValid() == false) return;
        var parm =$.extend({},taskform.getData(),{taskId:taskId,productTraceDatail:productTraceDatail,remarks:remarks});
        $.ajax({
            url: "$doTaskUrl",
            data:parm,
            type: 'POST',
            cache: false,
            success: function () {
                mini.alert("操作成功");
                CloseWindow("save");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                mini.alert(jqXHR.responseText);
            }
        });
    }

    function onCancel(e) {
        CloseWindow("cancel");
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow)
            return window.CloseOwnerWindow(action);
        else window.close();
    }
</script>
</body>