#set($beanType=$TableBean.getClass().getSimpleName())
#set($primaryType=$TableBean.getPrimaryField().getType().getSimpleName())
#set($setGetMethod=$TableBean.generateForForm("bean").toString())
package com.zb.template;
import com.zb.base.Form.BaseForm;
import com.zb.bean.$beanType;

public class ${beanType}Form extends BaseForm{
	private $beanType bean=new $beanType();
	$setGetMethod
	}