#set($beanType=$TableBean.getClass().getSimpleName())
#set($primaryType=$TableBean.getPrimaryField().getType().getSimpleName())
package ${packagepath}.service;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import com.zb.base.service.BaseService;
import org.springframework.transaction.annotation.Transactional;
import ${TableBean.getClass().getName()};
@Transactional
public class ${beanType}Service extends BaseService<$beanType, $primaryType> {
	private static final Log log = LogFactory.getLog(${beanType}Service.class);

}
