#set($beanType=$TableBean.getClass().getSimpleName())
#set($primaryType=$TableBean.getPrimaryField().getType().getSimpleName())
package ${packagepath}.dao;

import com.zb.base.dao.DAO;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import ${TableBean.getClass().getName()};


public class ${beanType}DAO extends DAO<$beanType,$primaryType> {
	private static final Log log = LogFactory.getLog(${beanType}DAO.class);

	public ${beanType}DAO() {
		super();
	}

}
