#set($loadSchemeUrl=$link.setRelative('/SchemeAction/loadScheme.json'))
#set($getBmpUrl=$link.setRelative('/SchemeAction/downImg.do'))
<style type="text/css">
    body{
        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
    }
</style>

<body>
<div class="mini-toolbar" style="text-align:center;line-height:30px;" borderStyle="border:0;">
    <label >名称或编号：</label>
    <input id="key"  class="mini-textbox" emptyText="名称或编号" onenter="search" />
    <a class="mini-button" style="width:60px;" onclick="search()">查询</a>
</div>

<div class="mini-fit">

            <div id="datagrid1" class="mini-datagrid" style="width:550px;height:100%;float: left"
                 url="$loadSchemeUrl"  idField="id" allowResize="true"
                 onselectionchanged="onSelectionChanged"
                 onrowdblclick="onRowDblClick"
                 sizeList="[10,20,30,50,100]" pageSize="20"
                    >
                <div property="columns">
                    <div type="indexcolumn" ></div>
                    <div field="name"  headerAlign="center" allowSort="true">名称</div>
                    <div field="code"  headerAlign="center" allowSort="true">编号</div>
                    <div field="designer.name"   align="center" >设计人</div>
                    <div field="designDate"  align="center" >设计日期</div>
                </div>
            </div>
            <img id="bmp" width="200" style="float: right" />
    <div class="mini-toolbar" style="clear:both;text-align:center;padding-top:8px;padding-bottom:8px;" borderStyle="border:0;">
        <a class="mini-button" style="width:60px;" onclick="onOk()">确定</a>
        <span style="display:inline-block;width:25px;"></span>
        <a class="mini-button" style="width:60px;" onclick="onCancel()">取消</a>
    </div>

</div>

</body>

<script type="text/javascript">
    mini.parse();
    var grid = mini.get("datagrid1");
    grid.load();

    function search() {
        var key = mini.get("key").getValue();
        grid.load({ name: key });
    }

    function onSelectionChanged(e) {

        var grid = e.sender;
        var scheme = grid.getSelected();
        if (record) {
            $("#bmp").attr("src","${getBmpUrl}?schemeId="+ scheme.dbId);
        }
    }

    function onRowDblClick(e) {
        onOk();
    }

    function GetData() {
        var row = grid.getSelected();
        return row;
    }

    function onOk() {
        CloseWindow("ok");
    }
    function onCancel() {
        CloseWindow("cancel");
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow)
            return window.CloseOwnerWindow(action);
        else window.close();
    }





</script>
