#set($getUsedMouldListUrl=$link.setRelative('/MouldAction/getUsedMouldListByScheme.json'))
<style type="text/css">
    html, body
    {
        font-size:12px;
        padding:0;
        margin:0;
        border:0;
        height:100%;
        overflow:hidden;
    }
</style>
<body>
<div id="detailGrid" class="mini-datagrid" style="width:100%;height:100%;"
     url="$getUsedMouldListUrl"  idField="dbId"
     showFooter="false" pageSize="20" pager="#pager1"
        >
    <div property="columns">
        <div field="code"  width="50"  headerAlign="center" >模具编号</div>
        <div field="mouldSize.size" width="50"  headerAlign="center" >模具规格</div>
        <div field="mouldSize.bcdw" width="50"  headerAlign="center" >包产吨位</div>
        <div field="manuDate" width="50"  headerAlign="center" >制造日期</div>
        <div field="status" width="50"  headerAlign="center" renderer="onStateRenderer" >模具状态</div>
        <div field="scrap.name" width="50"  headerAlign="center" >报废原因</div>
        <div field="scrapDate" width="50"  headerAlign="center" >报废日期</div>
        <div field="preProNum" width="50"  headerAlign="center" >实际寿命</div>
        <div field="manufacture.name" width="50"  headerAlign="center" >外协</div>
    </div>
</div>

<script type="text/javascript">
    ////////////////////
    //标准方法接口定义
    function setData(schemeId) {
        var grid = mini.get("detailGrid");
        grid.load({schemeId:schemeId});
    }

    var mouldStates={0:'定制',1: '试模', 2: '返修',
        3: '可配半键报废', 4: '判定', 5: '彻底报废'
        , 6: '氮化', 7: '待产', 8: '生产'};
    function onStateRenderer(e){
        return mouldStates[e.value];
    }
</script>
</body>
